body
	background: #FFF
	line-height: 1.4
	font-size: 16px
	min-width: 320px

a
	text-decoration: none

.container
	padding: 0 60px
	width: 100%
	max-width: 1384px
	margin: 0 auto
	+md
		padding: 0 15px

.out
	overflow: hidden

html
	background-color: #1f1f1f




