// colors
$white: #fff
$black: #000
$text-gray: #646464
$text-dark-gray: #4d4d4d
$gray: #adadad
$purple: #9013fe
$dark-purple: #16052c
$darkgray: #121212


=helvetica
	font-family: 'Helvetica', 'Roboto', Arial, -apple-system, BlinkMacSystemFont, 'Oxygen', sans-serif

