<section class="cta">
  <div class="cta__container container">
    <h2 class="cta__title title title_decorated">Сколько стоит сайт?</h2>
    <p class="cta__descr">Одним клиентам нужен сайт, что бы выполнял минимальный набор необходимых функций, другие
      клиенты хотят видеть анимацию и креативный дизайн с кастомными решениями. Поэтому для каждого типа проектов цена
      рассчитывается индивидуально.</p>
    <p class="cta__subtitle title title_sm">Хотите рассчитать стоимость своего сайта?</p>
    <p class="cta__cta">Напишите нам!</p>
    <form action="/" class="cta__form">
      <input id="name" type="text" class="cta__input" placeholder="Ваше имя"/>
      <input id="phone" type="tel" class="cta__input" placeholder="Телефон"/>
      <input id="mail" type="email" class="cta__input" placeholder="Электронная почта"/>
      <textarea name="about" id="about" rows="7" class=" cta__input cta__textarea"
                placeholder="Расскажите о вашем проекте"></textarea>
      <label class="cta__file-label">
        <input id="file" type="file" class="cta__input-file"/>
        Прикрепить бриф или тех. задание</label>
      <p class="cta__policy">
        Отправляя данные, я принимаю условия оферты и согласен с <br/>
        <a href="#" class="cta__link"> Политикой конфиденциальности</a>
      </p>

      <button type="button" class="cta__button button button_purple button_uppercase">Отправить</button>
    </form>
  </div>
</section>
