{% import 'data/estimation-data.html' as data %}
<section class="estimation">
  <div class="estimation__header estimation__header_animate estimation__header_animane">
    <div class="estimation__container container">
      <h2 class="estimation__title title title_white title_decorated">Сколько стоит сайт?</h2>
      <p class="estimation__descr">Ответить однозначно, не можем, так как каждый проект расчитываеться индивидуально. Но
        по ценам сориентируем. Ведь одним клиентам нужен сайт, что бы выполнял минимальный набор необходимых функций,
        другие клиенты хотят видеть анимацию и креативный дизайн с кастомными решениями.</p>
    </div>
  </div>
  <ul class="estimation__list">
    {% for item in data.list %}
      <li class="estimation__item value">
        <div class="value__container container">
          <div class="value__info">
            <h3 class="value__title title title_sm">{{ item.title }}</h3>
            <p class="value__descr">{{ item.descr }}</p>
          </div>
          <div class="value__price">
            <p class="value__price-text">
              от <span class="value__price-value">{{ item.price }}</span> usd
            </p>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</section>
