<footer class="footer">
  <div class="footer__container container">
    <div class="footer__block footer__block_animate footer__block_logo">
      <a href="#" class="footer__logo">
        <img class="footer__logo-img" src="./img/logo.svg" alt="logo">
      </a>
      <p class="footer__text footer__text_sm">© 2008-2018 Работаем более 10 лет на рынке</p>
    </div>

    <div class="footer__block footer__block_animate footer__block_address">
      <p class="footer__text footer__text_bold">м. Белорусская, Разработка сайтов</p>
      <p class="footer__text">г. Москва ул. Лесная д. 9б, корп. А</p>
      <a href="tel:79250907675" class="footer__text footer__link underline-link underline-link_gray">+7 (925) 090
        76-75</a>
    </div>

    <div class="footer__block footer__block_animate footer__block_contacts">
      <div class="footer__feedback-block">
        {{ mixins.icon('phone') }}
        <a href="tel:88007777777"
           class="footer__text footer__text_bold footer__link underline-link underline-link_gray">8-800-777-77-77</a>
      </div>
      <div class="footer__feedback-block">
        {{ mixins.icon('pen') }}
        <a href="mailto:mail@blacksmithstudio.ru"
           class="footer__text footer__text_bold footer__text_underline footer__link underline-link underline-link_gray">
          mail@blacksmithstudio.ru
        </a>
      </div>
      <p class="footer__text footer__text_sm">
        <a href="#" class="footer__link footer__link_behance underline-link underline-link_behance">Behance</a> /
        <a href="#" class="footer__link footer__link_dribble underline-link underline-link_dribble">Dribble</a>
      </p>
    </div>
  </div>
</footer>
