<header class="header js-header">
  <div class="header__container container">
    <a href="#" class="header__logo js-header-anim js-header-anim_logo">
      {{mixins.icon('logo')}}
    </a>
    </a>

    <div class="header__toggle js-toggle">
      <div class="header__toggle-icon"></div>
    </div>

    <div class="header__menu js-menu">

      <nav class="header__nav nav">
        <ul class="nav__list">
          {% for item in [
            {
            title: 'Процесс',
            id: 'process'
            },
            {
              title: 'Портфолио',
              id: 'projects'
            },
            {
              title: 'Стоимость',
              id: 'estimation'
            },
            {
              title: 'Связаться',
              id: 'cta'
            }] %}
            <li class="nav__item js-header-anim">
              <a href="#{{item.id}}" class="nav__link js-header-link">{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>

      <div class="header__feedback">
        <div class="header__link-wrapper js-header-anim">
          <a href="tel:+88007777777" class="header__link">
            {{ mixins.icon('phone') }}
            8-800-777-77-77
          </a>
        </div>
      </div>

    </div>

  </div>
</header>
