<section class="main-hero">
  <div class="main-hero__container container">

    <div class="main-hero__image main-hero__image_animate"></div>

    <div class="main-hero__content main-hero__content_animate">
      <h2 class="main-hero__title title title_white">Создание сайтов под ключ</h2>
      <p class="main-hero__descr">
        Аналитика, прототипирование, UX-дизайн, качественный код <br/>
        Удобное управление и администрирование. </p>
      <table class="main-hero__table">
        <tr class="main-hero__table-row">
          <td class="main-hero__table-data">267</td>
          <td class="main-hero__table-data">10</td>
          <td class="main-hero__table-data">98</td>
        </tr>
        <tr class="main-hero__table-row">
          <th class="main-hero__table-head">создано сайтов</th>
          <th class="main-hero__table-head">лет на рынке</th>
          <th class="main-hero__table-head">интернет магазинов</th>
        </tr>
      </table>

      <a href="#" class="main-hero__button button">Написать нам</a>
    </div>
  </div>
</section>
