<section class="main-hero">
  <div class="main-hero__container container">

    <div class="main-hero__image main-hero__image_animate"></div>

    <div class="main-hero__content">
      <h2 class="main-hero__title title title_white js-main-hero-anim">Создание сайтов под ключ</h2>
      <p class="main-hero__descr js-main-hero-anim">
        Аналитика, прототипирование, UX-дизайн, качественный код <br/>
        Удобное управление и администрирование. </p>
      <table class="main-hero__table js-main-hero-anim">
        <tr class="main-hero__table-row">
          <td class="main-hero__table-data js-counter-animation">267</td>
          <td class="main-hero__table-data js-counter-animation">10</td>
          <td class="main-hero__table-data js-counter-animation">98</td>
        </tr>
        <tr class="main-hero__table-row">
          <th class="main-hero__table-head">создано сайтов</th>
          <th class="main-hero__table-head">лет на рынке</th>
          <th class="main-hero__table-head">интернет магазинов</th>
        </tr>
      </table>

      <a href="#" class="main-hero__button button js-main-hero-anim">Написать нам</a>
    </div>
  </div>
</section>
