<section id="hero" class="main-hero">
  <div class="main-hero__video js-video" data-vide-bg="mp4: video/videoplayback"
       data-vide-options="posterType: jpg, loop: true, playsinline: true"></div>
  <div class="main-hero__image main-hero__image_animate"
       style="background: url('./img/iphone-mac.png') no-repeat calc(100% + 170px) calc(50% + 24px);
  background-size: 55vw"></div>

  <div class="main-hero__container container">
    <div class="main-hero__content">
      <h2 class="main-hero__title title title_white js-main-hero-anim">Создание сайтов под ключ</h2>
      <p class="main-hero__descr js-main-hero-anim">
        Аналитика, прототипирование, UX-дизайн, качественный код <br/>
        Удобное управление и администрирование. </p>
      <table class="main-hero__table js-main-hero-anim">
        <tr class="main-hero__table-row">
          <td class="main-hero__table-data js-counter-animation" data-counter="267">0</td>
          <td class="main-hero__table-data js-counter-animation" data-counter="10">0</td>
          <td class="main-hero__table-data js-counter-animation" data-counter="98">0</td>
        </tr>
        <tr class="main-hero__table-row">
          <th class="main-hero__table-head">создано сайтов</th>
          <th class="main-hero__table-head">лет на рынке</th>
          <th class="main-hero__table-head">интернет магазинов</th>
        </tr>
      </table>
    </div>
  </div>
</section>
