<div class="pen">

  <div class="pen__wrapper">
    <div class="pen__background js-pen-background"></div>
    <div class="pen__button js-pen-open">
      <div class="pen__image">
        {{ mixins.icon('pen') }}
      </div>
    </div>
    <div class="pen__content js-pen-content">
      <div class="pen__container container">
        <p class="pen__subtitle title title_sm">Хотите рассчитать стоимость своего сайта?</p>
        <p class="pen__cta">Напишите нам!</p>
        <form action="/" class="pen__form form js-form">
          <input id="penName" type="text" class="form__input js-form-name" placeholder="Ваше имя"/>
          <span class="form__validation-message">Имя должно быть больше 4 символов</span>
          <input id="penPhone" type="tel" class="form__input js-form-phone" placeholder="Телефон"/>
          <span class="form__validation-message">Пожалуйста, введите правильный номер телефона</span>
          <input id="penMail" type="email" class="form__input js-form-mail" placeholder="Электронная почта"/>
          <span class="form__validation-message">Пожалуйста, введите правильный адрес</span>
          <textarea name="about" id="penAbout" rows="5" class=" form__input form__textarea"
                    placeholder="Расскажите о вашем проекте"></textarea>
          <label class="form__file-label">
            <input id="penFile" type="file" class="form__input-file js-form-file"/>
            <span class="form__file-text underline-link js-file-label">Прикрепить бриф или тех. задание</span>
          </label>
          <p class="form__policy">
            Отправляя данные, я принимаю условия оферты и согласен с <br/>
            <a href="#" class="form__link underline-link underline-link_gray"> Политикой конфиденциальности</a>
          </p>

          <button id="penSubmit" type="button" class="form__button button button_purple button_uppercase button_lg js-form-submit"><span class="form__button-text">Отправить</span></button>
        </form>
        <div class="pen__close js-pen-close">
          <div class="pen__close-icon"></div>
        </div>
      </div>
    </div>
  </div>
</div>
