{% import "data/portfolio-data.html" as data %}
<section class="portfolio-list">
  <div class="portfolio-list__container container">
    <h2 class="portfolio-list__title portfolio-list__title_animate title title_decorated">Наши проекты</h2>
    <ul class="portfolio-list__list">
      {% for item in  data.list %}
        <li class="portfolio-list__item project js-perspective-anim">
          <div class="project__background" style="background-color: {{ item.color }}"></div>
          <a href="#" class="project__link">
            <h3 class="project__title title title_white title_sm">{{ item.title }}</h3>
            <div class="project__logo">
              <img src="./img/{{ item.logo }}" alt="Project logo" class="project__image">
            </div>
            <div class="project__footer">
              <p class="project__date">{{ item.date }}</p>
              <span class="project__see">Смотреть</span>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
