{% import 'data/processes-data.html' as data %}
<section id="process" class="processes">
  <div class="processes__container container">
    <h2 class="processes__title js-process-anim title title_decorated">Процесс</h2>
    <ul class="processes__list">
      {% for item in  data.list %}
        <li class="processes__item process process_animate">
          <div class="process__head js-process-anim">
            <p class="process__count">0{{ loop.index }}</p>
            <h3 class="process__title title title_sm">{{ item.title }}</h3>
          </div>
          <p class="process__descr js-process-anim">{{ item.descr }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
