<div class="scroll-navigation js-scroll-navigation">
  <ul class="scroll-navigation__list">
    {% for item in [
      {
        title: 'Видео',
        id: 'hero'
      },
      {
        title: 'Процесс',
        id: 'process'
      },
      {
        title: 'Портфолио',
        id: 'projects'
      },
      {
        title: 'Стоимость',
        id: 'estimation'
      },
      {
        title: 'Связаться',
        id: 'cta'
      }] %}
      <li class="scroll-navigation__item">
        <a href="#{{item.id}}" class="scroll-navigation__link js-scroll-navigation-link">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
