{% set list = [
  {
    title: 'Корпоративные сайты',
    descr: 'Любим и умеем делать сайты для бизнеса любого масштаба. Для решения самых смелых и амбициозных бизнес-задач.',
    price: '5 000'
  },
  {
    title: 'Интернет магазины',
    descr: 'Любим и умеем делать сайты для бизнеса любого масштаба. Для решения самых смелых и амбициозных бизнес-задач.',
    price: '10 000'
  },
  {
    title: 'Лендинги',
    descr: 'Раскажем о ваших услугах во всех краскахи обеспечим поток клиентов',
    price: '2 000'
  }
] %}
