{% set list = [
  {
    title: 'Сайт для ресторана Bamboo.Bar',
    logo: 'logo-bamboobar.png',
    date: 'Site creation 2017 ',
    color: '#4a8e21'
  },
  {
    title: 'Интернет магазин сантехники ВашДом',
    logo: 'logo-your-home.png',
    date: 'Site creation 2017 ',
    color: '#1d599b'
  },
  {
    title: 'Сайт для ресторана City-Voice',
    logo: 'logo-city-voice.png',
    date: 'Site creation 2018 ',
    color: '#191925'
  },
  {
    title: 'Музыкальный центр MusicTownRecords',
    logo: 'logo-musictown.png',
    date: 'Site creation 2018 ',
    color: '#4242a6'
  }
] %}
