{% set list = [
  {
    title: 'Сайт для ресторана Bamboo.Bar',
    logo: 'logo-bamboobar.svg',
    date: 'Site creation 2017 ',
    color: '#4a8e21',
    name: 'bamboobar'
  },
  {
    title: 'Интернет магазин сантехники ВашДом',
    logo: 'logo-your-home.svg',
    date: 'Site creation 2017 ',
    color: '#1d599b',
    name: 'your-house'
  },
  {
    title: 'Сайт для ресторана City-Voice',
    logo: 'logo-city-voice.svg',
    date: 'Site creation 2018 ',
    color: '#191925',
    name: 'cityvoice'
  },
  {
    title: 'Музыкальный центр MusicTownRecords',
    logo: 'logo-musictown.png',
    date: 'Site creation 2018 ',
    color: '#4242a6',
    name: 'musictown'
  }
] %}
