{% set list = [
  {
    title: 'Аналитика, ТЗ и прототипирование',
    descr: 'Перед началом работ по созданию сайта, команда во главе с руководителем проекта проведет аналитическую работу. Изучит потребности вашей целевой аудитории и проанализирует конкурентов. Далее будет сформировано подробное техническое задание. При этом наша команда по кирпичикам соберет логичную структуру сайта. Итогом первого этапа станет подобный прототип проекта.'
  },
  {
    title: 'Дизайн ',
    descr: 'Дизайнер по прототипу разработает web-страницы, которые сформируют положительное восприятие о компании или конечном продукте, сконцентрируют внимание посетителей на сильных сторонах и выстроят эффективную коммуникацию с каждым пользователем. <br style="line-height: 2.72"/> Для наших проектов мы создаем UX/UI дизайн - это проектирование пользовательских интерфейсов в которых удобство использования так же важно как и внешний вид).'
  },
  {
    title: 'Верстка и программирование',
    descr: 'В процессе верстки мы оптимизируем сайт под различные разрешения экранов и браузеры (Chrome, Яндекс.Браузер, IE, Opera, FireFox и др.).  Так же применяем грамотную адаптивную верстку для корректного отображения на всех типах мобильных устройств. Следуем веб-стандартам и рекомендациям разработчиков CMS/framework".'
  },
  {
    title: 'Тестирование ',
    descr: 'Когда завершены этапы, аналитики, дизайна и заканчивая backend’ом, к тестированию сайта приступает QA-специалист. В процессе он использует распространенные операционные системы Windows и MacOS, Android и iOs а также браузеры Google Chrome, Safari, Mozilla, Internet Explorer, FireFox, и Opera. Каждый проект тестируется без исключения, поэтому Вы получаете готовый продукт готовый к работе.'
  }
] %}
