.button
	+helvetica
	transition: 0.3s
	display: inline-block
	font-weight: 700
	background: transparent
	border: 1px solid $white
	border-radius: 4px
	font-size: 16px
	color: $white
	padding: 12px 70px
	+hover
		color: $gray
		background-color: rgba($black, .3)
