.cta
	+helvetica
	padding-top: 42px
	padding-bottom: 80px

	&__container

	&__title
		+animate
		transition-duration: 175ms

	&__descr
		+animate
		transition-duration: 175ms
		margin-top: 20px
		color: $text-dark-gray
		font-weight: 700
		line-height: 2.5
		+md
			line-height: 1.4

	&__subtitle
		+animate
		transition-duration: 175ms
		margin-top: 14px

	&__cta
		+animate
		transition-duration: 175ms
		margin-top: 12px
		color: #b61df3
		font-size: 32px
		font-weight: 700

	&__form

	&__animate
		opacity: 0
		transform: translateY(-32px)
