.estimation
	background-color: #121212
	overflow: hidden
	color: $white
	+helvetica

	&__container

	&__header
		+animate
		transition-duration: 300ms
		background-color: #121212
		padding: 62px 0 86px

	&__title
		&:after
			transition: background-color 1000ms

	&__descr
		letter-spacing: .24px
		margin-top: 30px
		max-width: 760px
		font-size: 14px
		line-height: 1.85

	&__list

	&__item
		position: relative

.js-value-anim
	opacity: 0
	transform: translateY(100px)




