.estimation
	overflow: hidden
	color: $white
	+helvetica

	&__container

	&__header
		background-color: $black
		padding: 62px 0 86px

	&__header_animate
		.estimation__title, .estimation__descr
			opacity: 0
			transform: translateX(100px)



	&__title
		+animate
		&:after
			transition: background-color 1000ms

	&__descr
		+animate
		margin-top: 30px
		max-width: 775px
		font-size: 14px
		line-height: 1.85

	&__list

	&__item
		position: relative



