.processes
	padding-top: 50px
	padding-bottom: 50px

	&__container

	&__title
		+animate

	&__title_animate
		opacity: 0
		transform: translateX(100px)

	&__list
		display: flex
		flex-wrap: wrap
		justify-content: space-between

	&__item

.js-process-anim
	opacity: 0
	transform: translateX(-100px)


