.process
	overflow: hidden
	padding: 30px 0 25px
	+helvetica
	width: calc(50% - 8px)
	max-width: 554px
	position: relative
	+sm
		width: 100%
		max-width: none
		padding: 8px 12px
	//Hover
	+hover
		.process__head
			&:after
				max-width: 100%

	&__head
		+animate
		transition-duration: 300ms
		position: relative
		display: flex
		align-items: center
		margin-bottom: 30px
		padding-bottom: 10px

		&:after
			transition: 300ms
			content: ''
			position: absolute
			width: 100%
			max-width: 56px
			height: 1px
			background-color: #979797
			left: 0
			bottom: 0

		+sm
			&:after
				max-width: 36px


	&__count
		transition: 300ms
		position: relative
		font-size: 50px
		font-weight: 700
		color: $purple
		+sm
			font-size: 32px

	&__title
		transition: 300ms
		margin-left: 18px

	&__descr
		letter-spacing: 0.002em
		text-align: justify
		word-spacing: 0.02em
		line-height: 1.86
		+animate
		transition-duration: 300ms
		font-size: 14px
		position: relative
		color: $text-gray

