.project
	+helvetica
	overflow: hidden
	will-change: transform
	transform: rotateX(0deg) rotateY(0deg)
	transition: transform 100ms
	width: 50%
	max-width: calc(50% - 16px)
	margin-top: 30px
	border-radius: 10px
	min-height: 328px
	+sm
		width: 100%
		max-width: 100%
	&_active
		transition: none

	.project__background
		position: absolute
		transition: width 1000ms
		width: 100%
		height: 100%
		top: 0
		left: 0
		z-index: -1

	&_animate
		.project__background
			width: 0

	&__link
		top: 0
		opacity: 1
		position: relative
		transition: 1000ms ease
		color: white
		width: 100%
		height: 100%
		display: flex
		flex-direction: column
		padding: 17px 40px 47px
		+md
			padding-bottom: 27px
		+sm
			padding: 17px 22px 27px
		+hover
			.project__see
				opacity: 1

	&__title
		+animate
		pointer-events: none

	&__logo
		+animate
		pointer-events: none
		margin-top: auto

	&__image

	&__footer
		+animate
		pointer-events: none
		margin-top: 12px
		display: flex
		align-items: baseline

	&__date
		font-size: 20px
		font-weight: 300

	&__see
		transition: 300ms
		margin-left: auto
		color: white
		text-decoration: underline
		opacity: 0

.js-project-anim
	left: 100px
	opacity: 0
