.pen
	transition: transform 300ms
	cursor: pointer
	position: fixed
	background-color: $text-dark-gray
	width: 50px
	height: 50px
	bottom: 50px
	right: 50px
	display: flex
	justify-content: center
	align-items: center
	border-radius: 50%
	+hover
		transform: scale(1.25)
	&:active
		opacity: .85

	&__image
		display: flex
		justify-content: center
		align-items: center
		.icon
			font-size: 28px
			fill: $white
