.icon-logo-bamboobar {
  width: 3.72em;
  height: 1em;
  fill: currentColor;
}
.icon-logo-city-voice {
  width: 1.3em;
  height: 1em;
  fill: currentColor;
}
.icon-logo-musictown {
  width: 0.8em;
  height: 1em;
  fill: currentColor;
}
.icon-logo-your-home {
  width: 3.46em;
  height: 1em;
  fill: currentColor;
}
.icon-pen {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
